.header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  z-index: 999;

  background-color: var(--white-color);
  border-bottom: 1px var(--border-line);
}

.header__container{
  @extend %container;
  display: flex;
  align-items: center;
}
.header__logo {
  @extend %reset-link;
  color: var(--title-text-color);
  font-family: raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
